{%extends 'base.html'%}
{% import 'macro.html' as macro %}

{% block content %}

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-danger">News Article</h1>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-danger">SPORTS NEWS</h1>
        </div>
    </div>
    <div class="row">

        {{ macro.displaySources(sports)}}

    </div>

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-danger">BUSINESS NEWS</h1>
        </div>
    </div>
    <div class="row">

        {{ macro.displaySources(business)}}

    </div>

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-danger">ENTERTAINMENT NEWS</h1>
        </div>
    </div>
    <div class="row">

        {{ macro.displaySources(entertainment)}}

    </div>

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-danger">SCIENCE NEWS</h1>
        </div>
    </div>
    <div class="row">

        {{ macro.displaySources(science)}}

    </div>

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-danger">HEALTH NEWS</h1>
        </div>
    </div>
    <div class="row">

        {{ macro.displaySources(health)}}

    </div>

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-danger">TECHNOLOGY NEWS</h1>
        </div>
    </div>
    <div class="row">

        {{ macro.displaySources(technology)}}

    </div>

</div>

{% endblock %}